.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: white;
}

.dialogsItems .active {
    color: yellow;
}

.messages {
    padding: 10px;
    color: white;
}
